@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
   @apply font-primary bg-primary text-white leading-loose; 
  }
  .h1 {
  @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[80px] leading-[1.1] font-semibold;
    }
    .h3 {
      @apply text-[20px] xl:text-[80px] leading-[1.1] font-semibold;
      }
      .fade-border {
        -webkit-mask-image: radial-gradient(ellipse, black 50%, transparent 70%);
        mask-image: radial-gradient(ellipse,  black 50%, transparent 70%);      }
        .font-outline-4 {
          -webkit-text-stroke: 1px rgb(255, 255, 255);
        }
      
      
}